* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

p {
    font-weight: 300;
}

body {
    background-color:hsl(217, 54%, 11%) ;
    color: hsl(0, 0%, 100%, 60%);
    padding: 1.25rem;
}

.container {
    padding: 1.25rem;
    background-color: hsl(216, 50%, 16%);
    border-radius: 0.5rem;

}

.container h2 {
    color: white;
    margin: 1rem 0.5rem 0.5rem 0;

}

.container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.li1 {
    color: cyan;
}






    